
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
.cart{
    padding: 0;
border: none;
background: none;
}
.cart:hover{
    background-color: aqua;
}